services:
  wyoming-api:
    build:
      context: ./wyoming-api
      args:
        - BUILD_FROM=debian:bookworm-slim
    restart: always
    security_opt:
      - no-new-privileges:true
    # Change user to the one that will run the container
    user: 1000:1000
    ports:
      - 127.0.0.1:7892:7892
    command: script/run --uri tcp://0.0.0.0:7892 --api ws://sherpa:6006
    # volumes:
    #   - ./debug:/debug
  sherpa:
    build:
      context: ./sherpa
    restart: always
    security_opt:
      - no-new-privileges:true
    # Change user to the one that will run the container
    # user: 1000:1000
    # ports:
      # - 100.64.0.1:6006:6006
    command: bash /start.sh
    volumes:
      - ./sherpa/start.sh:/start.sh:ro
      - ./sherpa/models:/models
      - ./sherpa/tokens-cht.txt:/tokens.txt
    environment:
      - NUM_THREADS=6